# Creacion del modelo

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

## Cargando Datos

In [4]:
data = pd.read_csv('../data/data_tranform.csv')

In [5]:
data.head()

,year,month,day,hour,age,card_transaction_count,category,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,2019,12,7,10,58,14,2.0,86.19,0.0,90403,34.0287,-118.4924,92043,1354877706,33.287851,-118.740970,0
1,2020,4,3,13,41,24,0.0,85.81,0.0,63867,36.7154,-89.6287,1019,1364994606,36.539950,-89.857416,0
2,2019,12,4,7,74,9,4.0,99.30,0.0,15449,39.9636,-79.7853,184,1354604824,39.582872,-78.838550,0
3,2019,6,30,18,47,26,6.0,42.09,0.0,59448,48.2777,-112.8456,743,1341081788,48.310513,-112.837535,0
4,2019,4,15,19,32,10,11.0,4.24,0.0,37663,36.4715,-82.4834,87124,1334519869,37.329094,-82.070746,0

## Separando datos

In [8]:
X = data.drop(columns=['is_fraud'] , axis = 1)
Y = data['is_fraud']

x_train , x_test , y_train , y_test = train_test_split(X , Y , shuffle=True , test_size=0.2 , random_state= 42)